* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    background-image: linear-gradient(rgba(95,158,160,0.3),rgba(95,158,160,0.3)) ,url("/TPQUIZZ/public/img/img-bg.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

.entete {
    width: 100%;
    background-color: #052426;
    color: white;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}