* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formtitle {
    height: 10vh;
    width: 35vw;
    padding: 0 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(81,191,208);
    font-weight: bold;
    font-size: 1.25em;
    color: white;
}

.formulaire {
    background-color: white;
    height: 40vh;
    width: 35vw;
    padding: 5%;
}

/* .login , .password {
    margin: 0 2%;
} */

.login input,.password input {
    font-size: 1.15em;
    height: 7.5vh;
    width: 31vw;
    padding: 0 3%;
    background-color: whitesmoke;
    border: 2px solid rgb(81,191,208);
}

.login img {
    width: 1.5em;
    position: relative;
    left: 525px;
    bottom: 50px;
}

.last {
    margin: 0 5%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn {
    background-color: rgb(81,191,208);
    cursor: pointer;
    color: white;
    border: none;
    padding: 2.5% 6%;
    border-radius: 5px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.35s;
    font-weight: bold;
}

#btn:hover {
    color: white;
    background-color: #052426;
    padding: 2.5% 8%;
}

#inscription a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

#errorlogin,#errorpassword {
    visibility: hidden;
    color: red;
}
#errorlogin {
    position: relative;
    bottom: 27px;
}

#lasterror {
    position: relative;
    top: 15px;
    right: 90px;
    color: red;
}